<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Todo</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include('header.ejs') %> 
<<<<<<< HEAD
    <!-- <%- include('todo.ejs') %>  -->
  
=======

   <!-- <%- include('todo.ejs') %>  -->
>>>>>>> 4451edc6239cd6dc1909d0bf93ec068e6b3ef583
    <%- include('footer.ejs') %> 
  </body>
</html>
